p{
    margin-top: 30px;
background-color: blueviolet;
margin-right: 30px;
margin-bottom: 20px;
}

body{
    background-color: aquamarine;
}

#boton{
    margin-right: 12px;
    margin-left: 200px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}


.custom{
    border: black 20px double;
    border-top: 0px;
    border-bottom: 0px;
}


.bordes{
border-top: dashed;
border-bottom: solid;
border-left: double;
padding-top: 80px ;
}

button{
    margin-right: 12px;
    padding: 20px;
}
